<template>
    <div class="container">
        <div class="col-md-12">
            <b-card no-body>
                <b-card-header header-bg-variant="primary" header-text-variant="white" class="mb-3"><b>Noticias Favoritas</b>
                    <a href="/" class="btn btn-sm btn-warning pull-right float-right">Atras</a>
                </b-card-header>
                <b-card-text>
                    <div class="row justify-content-center">
                        <div class="col-md-8 mb-3">
                            <b-card
                                border-variant="primary"
                                :header="item.nombre"
                                header-bg-variant="primary"
                                header-text-variant="white"
                                class="mb-3"
                                v-for="item in noticias"
                                v-bind:key="item.id">
                                <b-card-text>{{ item.descripcion }} </b-card-text>
                                <a :href="item.url" target="_blank">Mas Información...</a>
                                <b-icon-star
                                    @click="updateFavorita(item)"
                                    v-if="item.favorita != 1"
                                    variant="warning"
                                    font-scale="2"
                                    aria-hidden="true"
                                    class="float-right"></b-icon-star>
                                <b-icon-star-fill
                                    @click="updateFavorita(item)"
                                    v-if="item.favorita != 0"
                                    variant="warning"
                                    font-scale="2"
                                    class="float-right"></b-icon-star-fill>
                            </b-card>
                        </div>
                    </div>
                </b-card-text>
            </b-card>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            noticias: [],
            favoritas: false,
        }
    },
    watch: {
        'noticias'(newVal){
            if (newVal.length > 0){
                this.favoritas = false
            }else{
                this.favoritas = true
            }
        }
    },
    methods: {
        getNoticias() {
            let me = this;
            let url = '/noticias/favoritas/';
            me.$store.commit('loading', true);
            axios.get(url)
                .then(function (response) {
                    me.noticias = response.data;
                    me.$store.commit('loading', false);
                })

        },
        async updateFavorita(item) {
            let url = '/noticias/favoritas/' + item.id;
            let objeto = {}
            objeto.id = item.id
            objeto.nombre = item.nombre
            objeto.descripcion = item.descripcion
            objeto.url = item.url
            if (item.favorita === 1) {
                objeto.favorita = 0
            }
            if (item.favorita === 0) {
                objeto.favorita = 1
            }
            await axios.put(url, {objeto})
                .then(function (response) {

                })
            await this.getNoticias()
        },
    },
    mounted() {
        this.$store.commit('loading', true)
        this.getNoticias()

    }
}
</script>
