<template>
    <main class="main">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <b-card header-bg-variant="primary" header-text-variant="white" :header="noticia ? 'Editar Noticia' : 'Nuevo Noticia'" title="">
                    <b-card-text>
                        <b-form @submit.stop.prevent="noticiaId !== 0 ? updateNoticia() : createNoticia()">
                            <b-row class="justify-content-center">
                            </b-row>
                            <b-form-row>
                                <b-col md="6">
                                    <b-form-group id="nombre-label" label="Nombre Noticia" label-for="nombre">
                                        <b-form-input
                                            id="nombre"
                                            name="input-1"
                                            type="text"
                                            v-model="$v.form.nombre.$model"
                                            :state="validateState('nombre')"
                                            autocomplete="nope"
                                            aria-describedby="nombre-feedback"
                                            @focus="delete messages.nombre"
                                        >
                                        </b-form-input>
                                        <div class="text-danger m-0 p-0" style="font-size: 80%" v-if="messages.nombre">
                                            <div class="m-0 p-0 error" v-for="(message, key) in messages.nombre"
                                                 :key="key">
                                                <span v-text="message"></span>
                                            </div>
                                        </div>
                                        <b-form-invalid-feedback id="nombre-feedback">
                                            <div class="error" v-if="!$v.form.nombre.required">
                                                Este campo es requerido
                                            </div>
                                            <div class="error" v-if="!$v.form.nombre.maxLength">
                                                Debe tener máximo {{ $v.form.nombre.$params.maxLength.max }} carácteres
                                            </div>
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </b-col>
                                <b-col md="6">
                                    <b-form-group id="descripcion-label" label="Descripcion Noticia"
                                                  label-for="descripcion">
                                        <b-form-input
                                            id="descripcion"
                                            name="input-1"
                                            type="text"
                                            v-model="$v.form.descripcion.$model"
                                            :state="validateState('descripcion')"
                                            autocomplete="nope"
                                            aria-describedby="descripcion-feedback"
                                            @focus="delete messages.descripcion"
                                        >
                                        </b-form-input>
                                        <div class="text-danger m-0 p-0" style="font-size: 80%"
                                             v-if="messages.descripcion">
                                            <div class="m-0 p-0 error" v-for="(message, key) in messages.descripcion"
                                                 :key="key">
                                                <span v-text="message"></span>
                                            </div>
                                        </div>
                                        <b-form-invalid-feedback id="descripcion-feedback">
                                            <div class="error" v-if="!$v.form.descripcion.required">
                                                Este campo es requerido
                                            </div>
                                            <div class="error" v-if="!$v.form.descripcion.maxLength">
                                                Debe tener máximo {{ $v.form.descripcion.$params.maxLength.max }}
                                                carácteres
                                            </div>
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </b-col>
                                <b-col md="6">
                                    <b-form-group id="url-label" label="Url Noticia" label-for="url">
                                        <b-form-input
                                            id="url"
                                            name="input-1"
                                            type="text"
                                            v-model="$v.form.url.$model"
                                            :state="validateState('url')"
                                            autocomplete="nope"
                                            aria-describedby="url-feedback"
                                            @focus="delete messages.url"
                                        >
                                        </b-form-input>
                                        <div class="text-danger m-0 p-0" style="font-size: 80%" v-if="messages.url">
                                            <div class="m-0 p-0 error" v-for="(message, key) in messages.url"
                                                 :key="key">
                                                <span v-text="message"></span>
                                            </div>
                                        </div>
                                        <b-form-invalid-feedback id="url-feedback">
                                            <div class="error" v-if="!$v.form.url.required">
                                                Este campo es requerido
                                            </div>
                                            <div class="error" v-if="!$v.form.url.maxLength">
                                                Debe tener máximo {{ $v.form.url.$params.maxLength.max }} carácteres
                                            </div>
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                </b-col>
                            </b-form-row>
                            <b-button variant="danger" class="mt-2 float-right" @click="regresar()" >
                                Cancelar
                            </b-button>
                            <b-button variant="primary" @click="onSubmit()" value="guardar" class="mt-2 mr-1 float-right">
                                Guardar
                            </b-button>
                        </b-form>
                    </b-card-text>
                </b-card>
            </div>
        </div>
    </main>
</template>

<script>
import {validationMixin} from "vuelidate";
import {maxLength, required,} from "vuelidate/lib/validators";


export default {
    name: "NoticiasForm",
    components: {},
    data() {
        return {
            noticia: this.noticia_prop,
            noticiaId: 0,
            title: "",
            message: "",
            messages: {},
            form: {
                nombre: "",
                descripcion: "",
                url: "",
                favorita: "",
            },
        };
    },
    mixins: [validationMixin],
    props: ['noticia_prop'],
    validations: {
        form: {
            nombre: {
                required,
                maxLength: maxLength(255),
            },
            descripcion: {
                required,
                maxLength: maxLength(255),
            },
            url: {
                required,
                maxLength: maxLength(255),
            },
            favorita: {}
        },
    },
    computed: {
        NoticiasService() {
            return this.$store.state.services.NoticiasService;
        },
    },
    methods: {
        regresar() {
            window.location.replace('/home')
        },
        validateState(name) {
            if (this.messages[name]) {
                return this.messages[name] ? false : true
            }
            const {$dirty, $error} = this.$v.form[name]
            return $dirty ? !$error : null
        },
        verificarNoticia() {
            if (this.noticia) {
                this.noticia = JSON.parse(this.noticia)
                this.noticiaId = this.noticia.id
                this.form.nombre = this.noticia.nombre
                this.form.descripcion = this.noticia.descripcion
                this.form.url = this.noticia.url
                this.form.favorita = this.noticia.favorita
            }
        },
        onSubmit() {
            this.$v.form.$touch()
            if (this.$v.form.$anyError) {
                return
            }
            this.$store.commit('loading', true)
            if (this.noticiaId === 0) {
                this.createNoticia()
            } else {
                this.updateNoticia()
            }
        },
        createNoticia() {
            this.$v.form.$touch()
            if (this.$v.form.$anyError) {
                return
            }
            this.$store.commit("loading", true)
            this.NoticiasService.guardarNoticia(this.form).then((response) => {
                this.$store.commit("loading", false)
                this.regresar()
                return true
            });
        },
        updateNoticia() {
            this.$v.form.$touch()
            if (this.$v.form.$anyError) {
                return
            }
            let objeto = {}
            objeto.id = this.noticiaIdid
            objeto.nombre = this.form.nombre
            objeto.descripcion = this.form.descripcion
            objeto.url = this.form.url
            objeto.favorita = this.form.favorita
            this.$store.commit("loading", true)
            this.NoticiasService.updateNoticia(objeto, this.noticiaId).then((response) => {
                this.$store.commit("loading", false)


            });
        },
    },
    async mounted() {
        this.$store.commit('loading', true)
        await this.verificarNoticia()
        this.$v.$reset()
        this.$store.commit('loading', false)
    },
}

</script>
