<template>
    <main>
        <b-card no-body>
            <b-card-header header-bg-variant="primary"><b>Noticias</b>
                <a  href="/noticias/create" class="btn btn-sm btn-primary pull-right float-right">Nueva</a>
            </b-card-header>
            <b-card-text>
                <b-row class="justify-content-center m-0 p-0">
                    <b-col class="m-4 p-0">
                        <b-table
                            ref="selectableTable"
                            responsive
                            :stacked="'md'"
                            id="buzones_table"
                            class="shadow-sm mt-5"
                            striped bordered
                            show-empty
                            hover
                            empty-text="No hay informacion para mostrar"
                            :items="noticias"
                            :fields="fields">
                            <template v-slot:cell(acciones)="data">
                                <b-button
                                    :href="'/noticias/'+data.item.id+'/edit'"
                                    class="text-white"
                                    variant="primary"
                                    size="sm"
                                    v-b-tooltip.hover
                                    title="Editar usuario">
                                    <b-icon-pencil-fill
                                        v-b-tooltip.hover
                                        title="Reenviar email"
                                        variant="light"
                                        font-scale="1"></b-icon-pencil-fill>

                                </b-button>

                            </template>
                        </b-table>
                    </b-col>
                </b-row>
            </b-card-text>
        </b-card>
    </main>
</template>

<script>
export default {
    data() {
        return {
            fields: [
                {key: 'id', sortable: true, label: 'ID'},
                {key: 'nombre', sortable: true, label: 'NOMBRE'},
                {key: 'descripcion', sortable: true, label: 'DESCRIPCION'},
                {key: 'url', sortable: true, label: 'URL'},
                {key: 'acciones', sortable: false, label: 'Acciones' },
            ],
            noticias: [],

        }
    },
    methods: {
        getNoticias() {
            let me = this;
            let url = '/noticias';
            me.$store.commit('loading', true);
            axios.get(url)
                .then(function (response) {
                    me.noticias = response.data;
                    me.$store.commit('loading', false);
                })
        },

    },
    mounted() {
        this.$store.commit('loading', true)
        this.getNoticias()

    }
}
</script>
